[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clarabel"]
	path = clarabel
	url = https://github.com/oxfordcontrol/clarabel-r
